<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UseConnection" value="LocalDbConnection"/>
	</appSettings>
	<connectionStrings>
		<add name="LocalDbConnection" connectionString="
			Data Source=LAPTOP-SCD1CHJF\SQLEXPRESS;
			Initial Catalog=students_db_pv324;
			Integrated Security=SSPI;
			Timeout=5;
			TrustServerCertificate=Yes;
		"/>
	</connectionStrings>
</configuration>